<!------ Include the above in your HEAD tag ---------->

<footer class="bg-dark text-center text-lg-start">
    <div class="row footIn">
        <div class="col-sm-6 col-lg-3">
            <h3>Company</h3>
            <ul style="margin-left:30px;">
                <li>About</li>
                <li>Blogs</li>
                <li>Careers</li>

            </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
            <h3>Products</h3>
            <ul>
                <li>Designer</li>
                <li>Portraits</li>
                <li>Art Pieces</li>

            </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
            <h3>Learn More</h3>
            <ul>
                <li>Partneship</li>
                <li>Customers</li>
                <li>Buniness</li>

            </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
            <h3> Support</h3>
            <ul>
                <li>Help</li>
                <li>QA</li>
                <li>Contact</li>

            </ul>
        </div>

    </div>
    <!-- Copyright -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-3">

                <a class="text-dark social" href="http://caarts.tech"><img class="img-fluid footerleg"
                        src="images/calogooo.jpg"></a>

            </div>
            <div class="col-sm-12 col-lg-9 wraper">

                <!--				  twitter-->
                <a class="text-dark social" href="https://twitter.com"><i class="fa fa-twitter-square fa-2x social"
                        aria-hidden="true" id="social-tw"></i></a>

                <!--			  	  Gmail-->

                <a class="text-dark social" href="mailto:chethansputran222@gmail.com"> <i
                        class="fa fa-envelope fa-2x social" aria-hidden="true" id="social-em"></i></a>
                <!--				  Instagram-->
                <a class="text-dark social" href="https://instagram.com"> <i class="fa fa-instagram fa-2x social"
                        aria-hidden="true" id="social-ig"></i></a>
                <!--				  Facebook-->
                <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p style="color:azure;text-align:center;font-size:small">© 2021 CA-ARTS. All rights reserved | Design by <a
                    href="http://caarts.tech/" target="_blank">CA-Arts</a>
            </p>
        </div>

    </div>
</footer>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/special/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>