<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: #dedede;
        }

        .page-wrap {
            min-height: 100vh;
        }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/animate.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/invalid.css">
    <!------ Include the above in your HEAD tag ---------->
    <title>Error</title>
</head>

<body>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="wow">
                        <section class="wow slideInRight" data-wow-offset="10" data-wow-iteration="10">
                        </section>

                        <div class="mb-4 lead wow">

                            <i class="material-icons" style="font-size:35px;color:yellow">warning</i>
                            <h3 class="animate__animated animate__backInDown"
                                style="font-family: 'Fredoka One', cursive; color:#f34646;">Passwords Should Match!!
                            </h3>

                        </div>
                        <a href="/register" class="btn btn-link" style="text-decoration: none;">Back</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script>
        new WOW().init();
    </script>

</body>

</html>