<!doctype html>
<html lang="en">

<head>
	{{>header}}
	<title>Welcome to Chethan's Blog</title>
	<link rel="stylesheet" href="css/css-caarts.css">
</head>

<body>
	{{>navbar}}
	<div class="container-fluid bn" id="section-1-gradient">
		<div class="row">
			<div class="col-md-6 col-sm-12 ">
				<div class="leftside-col">
					<h1 class="large">Made for Art Enthusiastic</h1>

				</div>
				<form>

					<div class="leftside-col">
						<h3>Username</h3>
						<input class="inputbox" name="username" type="text" placeholder="Username">
						<h3>Password</h3>
						<input class="inputbox" name="password" type="password" placeholder="Password">


					</div>

				</form>
			</div>
			<div class="col-md-6 col-sm-12 vb">

				<iframe src="https://www.youtube.com/embed/PunjV6skfjA" width="350px"></iframe>



			</div>
		</div>
	</div>


	<header>


		<div class="container-fluid y">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1 class="section2Header">The Secret Behind Creativity</h1>
				</div>

			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12 ">
					<div class="card box">
						<div class="icon">
							<img class="card-img-top" src="images/calogooo.jpg">
						</div>
						<h4 class="card-title">Art</h4>
						<div class="card-block">
							<p class="card-text">Art is a diverse range of human activities involving the creation of
								visual, auditory or
								performing artifacts , which express the creator's imagination, conceptual
								ideas,
								or technical skill, intended to be appreciated primarily for their beauty or emotional
								power. </p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 x">
					<div class="card box">
						<div class="icon">
							<img class="card-img-top" src="images/calogooo.jpg">
						</div>
						<h4 class="card-title">Creativity</h4>
						<div class="card-block">
							<p class="card-text">A talent is the skill that someone has to do something very well that
								people usually
								like and
								that is difficult. Someone who has talent is called talented. Talented people may
								have more
								than one talent. Talent is sometimes learned, but in some cases is natural born.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 x">
					<div class="card box">
						<div class="icon">
							<img class="card-img-top" src="images/calogooo.jpg">
						</div>
						<h4 class="card-title">Idea</h4>
						<div class="card-block">
							<p class="card-text">Ideas are usually taken as mental representational images of some
								object. Ideas can
								also be
								abstract concepts that do not present as mental images.The capacity to create and
								understand
								the meaning of ideas is considered to be a great feature of human beings.</p>
						</div>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 learnmore">
					<button class="learnMore">Learn More</button>

				</div>
			</div>
		</div>

	</header>

	<hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<article>
					<p><b>"</b>Every artist dips his brush in his own soul, and paints his own nature into his
						pictures<b>"</b>.<br><b>― Henry Ward Beecher</b> <br><b>"</b>There are painters who transform
						the sun to a yellow spot, but there are others who with the help of their art and their
						intelligence, transform a yellow spot into sun<b>"</b>.<br>
						<b>― Pablo Picasso</b>
					</p>
				</article>
			</div>


			<div class="col-md-5 col-sm-12">
				<div class="poster">
					<img src="images/bcard.png">
				</div>

			</div>
		</div>
	</div>


	{{>footer}}

	<script src="js/bootstrap.min.js"></script>
	<script src="js/special/bootstrap.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


</body>


</html>

{{!--
<footer class="footsy">

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<h1>Company</h1>
			<ul>
				<li>About</li>
				<li>Blogs</li>
				<li>Careers</li>

			</ul>
		</div>
		<div class="col-md-3 col-sm-6">
			<h1>Products</h1>
			<ul>
				<li>Designer</li>
				<li>Portraits</li>
				<li>Art Pieces</li>

			</ul>
		</div>
		<div class="col-md-3 col-sm-6 ">
			<h1>Learn More</h1>
			<ul>
				<li>Partneship</li>
				<li>Customers</li>
				<li>Buniness</li>

			</ul>
		</div>
		<div class="col-md-3 col-sm-6 ">
			<h1> Support</h1>
			<ul>
				<li>Help</li>
				<li>QA</li>
				<li>Contact</li>

			</ul>
		</div>

	</div>

</footer> --}}